<table class="table table-hover">
  <thead>
    <tr>
      <th>职位名称</th>
      <th>操作选项</th>
      <th>工作内容</th>
      <th>工资上限</th>
      <th>工资下限</th>
      <th>发布时间</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job_path(job) %></td>
        <% if !current_user %>
          <td><%= link_to "赞", clap_job_path(job),method: :post,class: "btn bt-primary btn-success" %></td>
          <td><%= link_to "踩", disdain_job_path(job),method: :post,class: "btn btn-primary btn-danger " %></td>
        <% else %>
            <td>
          <% if !current_user.clapper_of?(job)%>
            <%= link_to "赞", clap_job_path(job),method: :post,class: "btn bt-primary btn-success" %>
          <% else %>
            <%= link_to "取消", cancel_clap_disdain_job_path(job,status: "clap"),method: :post,class: "btn btn-primary btn-info" %>
          <% end %>
          <% if !current_user.disdainer_of?(job) %>
            <%= link_to "踩", disdain_job_path(job),method: :post,class: "btn btn-primary btn-warning" %>
          <% else %>
            <%= link_to "取消", cancel_clap_disdain_job_path(job,status: "disdain"),method: :post,class: "btn btn-primary " %>
          <% end %>
            </td>
        <% end %>
        <td><%= job.description %></td>
        <td><%= job.wage_upper_bound %></td>
        <td><%= job.wage_lower_bound %></td>
        <td><%= job.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= will_paginate @jobs %>
</div>

