<div class="col-md-12">
  <%= link_to "编辑", edit_admin_job_path(@job), class:"btn btn-primary pull-right" %>
  <h3> <%= @job.title %> </h3>
  <br>
  <p>
  <b>工作内容：</b>
  <%= simple_format(@job.description) %>
  <br>
  <b>学历要求：</b>
  <%= simple_format(@job.educational_background) %>
  <br>
  <b>工作经验要求：</b>
  <%= simple_format(@job.work_experience) %>
  <br>
  <b> 工资：</b>
  <%= @job.wage_lower_bound %>-<%= @job.wage_upper_bound %>
  <br>
  <b>联系邮箱：</b><%= @job.contact_email %>
  </p>
</div>

